[Unit]
Description=WiFi Enable Service
After=network.target

[Service]
Type=forking
Restart=always
RestartSec=1
RemainAfterExit=yes
User=root
ExecStart=/bin/bash -c /home/root/enablewifi

[Install]
WantedBy=multi-user.target
